<h1>Devices</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
Devices refers to the MIDI Devices in your system, whether that means a local MIDI loopback device or the
Apple IAC Bus (both used to talk to softsynths), or a USB MIDI Interface that connects to hardware instruments.
Your {{ doc('api_instruments','Instrument') }} definitions (covered next) will need to use one of these names.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Friendly Device Assignment") }}

<p>
The API demos that ship with Warp typically have a hard-coded MIDI device name and then allow you to reassign it
from the environment if your local MIDI device does not match.  This works as follows:
</p>

{{ begin_code(language='python') }}
from warpseq.api import demo
DEVICE = demo.suggest_device(api, 'IAC Driver IAC Bus 1')
{{ end_code() }}

<p>
Use of this function will allow the value of the <i>WARP_MIDI_DEVICE</i> environment variable to be used instead
of the given device name, if set.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Suggestions & Tips") }}

<ul>
<li>Mac users will need to set up an IAC Audio Bus to use Warp.</li>
<li>Windows users may want to use LoopMIDI.</li>
<li>See {{ doc('installation') }} for information about device setup.</li>
</ul>


<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

See {{ doc('api_instruments','Instruments') }}

