<h1>Clips</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>Clips</h2>

<p>
Clips are how we load lists of {{ doc('api_patterns','Patterns') }} into {{ doc('api_patterns','Scenes') }} and {{ doc('api_tracks','Tracks') }}.
If you are familiar with popular GRID-based DAW programs, clips sit and the intersection of scenes and tracks. They work the same here, but
they also have some additional parameters and behavior.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Clip") }}

Clips must be assigned to a scene and track pair at creation time:

{{ begin_code(language='python') }}
api.clips.add(name='reset demo', scene='scene_1', track='lead', scales=['C-major'], patterns=['resetting'],
              transforms=[], repeat=8, auto_scene_advance=True)
{{ end_code() }}

<p>
A clip has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
   <td>name</td>
   <td>string</td>
   <td>A symbolic name for the scene, as referenced from a {{ doc('api_clips','Clip') }}</td>
</tr>
<tr>
   <td>scene</td>
   <td>string</td>
   <td>The name of a previously defined scene to add this clip to</td>
</tr>
<tr>
   <td>track</td>
   <td>string</td>
   <td>The name of the track where events from this clip are routed</td>
</tr>
<tr>
   <td>patterns</td>
   <td>list of strings</td>
   <td>A list of pattern names to play in order. All patterns in the list will always play, and pattern names may be repeated.</td>
</tr>
<tr>
   <td>tempo_shifts</td>
   <td>list of integers</td>
   <td>A list of tempo offsets (in BPM) to add to the current tempo. Each index in the list cycles as each pattern advances.  This
   can be used to construct builds and slowdowns. If the end of the list is reached, the values will wrap around</td>
</tr>
<tr>
   <td>next_clip</td>
   <td>string</td>
   <td>If set and <i>auto_scene_advance</i> is not set, the named clip will be activated after this clip finishes. This clip does
   not need to be on the same track.</td>
</tr>
<tr>
   <td>transforms</td>
   <td>list of strings</td>
   <td>A list of {{ doc('api_transforms','Transforms') }} to apply. As the patterns advance, the transforms chosen per pattern also
   advance to the next item in the list. More than one transform can be applied if the list element is, instead of a string, a list
   of transform names. These are demoed throughout the <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/">API Examples</A></td>
</tr>
<tr>
   <td>repeat</td>
   <td>int</td>
   <td>If set, all patterns will repeat N times before the clip will end. If None, the patterns will loop forever until the scene is ended by another
   pattern that is set to <i>auto_scene_advance</i>.</td>
</tr>
<tr>
   <td>auto_scene_advance</td>
   <td>bool</td>
   <td>if True, the completion of all patterns (subject to <i>repeat</i>) will trigger the next scene in the list to play automatically, stopping
    all clips in the current scene</td>
</tr>
<tr>
   <td>scales</td>
   <td>list of strings</td>
   <td>a list of {{ doc('api_scales','Scale') }} names. As the patterns advance, each scale from the list will also advance in turn. If not supplied,
   the scale will be drawn from the {{ doc('api_scenes','Scene') }}, or if not there, the {{ doc('api_song','Song') }}.</td>
</tr>
<tr>
   <td>rate</td>
   <td>int</td>
   <td>If set, multiplies the effective BPM of the clip by this value. 0.5 will interpret all patterns in this clip as 1/8th notes instead of 16th notes, etc.</td>
</tr>

</table>

{{ begin_info_block() }}
As a reminder, this is <i>reference</i> material, see the <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/">API Examples</A> for all of this put together.
{{ end_info_block() }}

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Suggestions & Tips") }}

<ul>
<li>Only one clip in a scene needs to set <i>auto_scene_advance</li>
<li>It is usually simpler to just assign a scale to a scene, rather than the clip</li>
<li><i>tempo_shifts</i> is an advanced feature and not something that every song will need to use</li>
<li>using <i>auto_scene_advance</i> is quite a lot easier than specifying <i>next_clip</i> on every clip</li>
</ul>


<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("In Context") }}

Reading the following API examples is recommended for understanding this section:

<ul>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/">For basics: almost any API demo example</A>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/05_more_clip_features.py">For Advanced Features</A>
</ul>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

We are ready to learn how to learn how to start the {{ doc('api_event_loop','Event Loop') }} though you may also wish to learn about {{ doc("api_transforms","Transforms") }}
if you haven't done so already.


