<h1>Transforms</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>Transforms</h2>

<p>
Transforms are kind of like {{ doc('api_patterns','Patterns') }} that move across patterns and stomp over them. Like Patterns, they are composed
of exactly the same {{ doc('api_slots','Slots') }}.
</p>

<p>
While many sequencers have arpeggiators, in Warp, transforms are building blocks that can build arpeggiators, or also generalized MIDI effects,
like octave shifting a whole pattern, or every third note. They are limited only by what {{ doc('api_slots','Slots') }} can do.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Transform") }}

<p>
This is a basic arpeggiator that strums chords - it works regardless of the number of notes in a Chord:
</p>

{{ begin_code(language='python') }}
api.transforms.add(name='arp1', divide=None, slots=[
    Slot(),
])
{{ end_code() }}

<p>
This MIDI effect octave shifts every other note:
<p>

{{ begin_code(language='python') }}
api.transforms.add(name='fx1', divide=1, slots=[
    Slot(octave_shift=1),
    Slot(),
])
{{ end_code() }}

<p>
This is a two octave arp for triads:
</p>

{{ begin_code(language='python') }}
api.transforms.add(name='arp2', divide=6, applies_to='chords', slots=[
    Slot(),
    Slot(),
    Slot(),
    Slot(octave_shift=1),
    Slot(octave_shift=1),
    Slot(octave_shift=1),
])
{{ end_code() }}

<p>
This makes each note stutter 4 times, but leaves chords alone:
</p>

{{ begin_code(language='python') }}
api.transforms.add(name='arp2', applies_to='notes', slots=[
    Slot(repeat=4),
])
{{ end_code() }}

<p>
A transform has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>slots</td>
  <td>list</td>
  <td>a list of {{ doc('api_slots','Slot') }} objects</td>
</tr>
<tr>
  <td>divide</td>
  <td>int</td>
  <td>if set, splits the available notes per step into this many subdivisions. If not set, the division is "auto", which will subdivide a triad 3 times,
  a power chord 2 times, and so on.</td>
</tr>
<tr>
  <td>applies to</td>
  <td>string</td>
  <td>either <i>chords</i>, <i>notes</i>, or <i>both</i> - this controls whether the transform modifies certain steps based on their contents</td>
</tr>
<tr>
  <td>direction</td>
  <td>string</td>
  <td>this works exactly as in {{ doc('api_patterns','Patterns') }} - the transform direction does not have to match the pattern direction</td>
</tr>
<tr>
  <td>auto_reset</td>
  <td>bool</td>
  <td>off by default, if True, the transform will start over at the beginning slot when processing each set of slots in a pattern.</td>
</tr>

</table>

{{ begin_info_block() }}
Tip: Variation of a clip is greatly increased when the pattern slots and the transform slots are of odd lengths - they will not completely line up
the same every time as the patterns roll around and repeat.
{{ end_info_block() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("In Context") }}

Reading the following API examples is recommended for understanding this section:

<ul>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/03_modifiers.py">Modifiers</A>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/04_transforms.py">Transforms</A>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/13_transform_directions.py">Transform Directions</A>
</ul>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

Now would be a good time to read up on {{ doc('api_evaluators','Evaluators') }}, which are an advanced feature of {{ doc('api_slots','Slots') }}, since
transforms are built out of slots.

