<h1>User Interface - COMING SOON</h1>
<hr/>

{{ begin_info_block() }}
The user interface for Warp will be available in a future release, aiming for Fall of 2020. Until then, everything can be done in python with the {{ doc('api') }} if you know
how to program a bit. Python is an easy language to learn and the API examples use a very small amount of it. What follows below - for now - is an explanation of the UI as planned (almost a requirements document!) to peak interest.
This is almost an internal secret requirements document. SPOILERS!
{{ end_info_block() }}

<hr/>
{{ table_of_contents() }}

<hr/>
{{ section("General") }}

<ul>
<li>In general, this is a two-column UI where each column has a concept of tabs</li>
<li>The main UX will consist of a Sidebar and a larger "Work Area"</li>
<li>The default "Work Area" will show the Grid View by default</li>
</ul>

<hr/>
{{ section("Grid View") }}

<ul>
<li>This view is used to launch clips and scenes</li>
<li>Tracks form the X axis of the grid, Scenes on the Y axis</li>
<li>There is a global play/stop button</li>
<li>There is a play/stop button beside every scene</li>
<li>There are graphical indicators of what is playing</li>
<li>All named objects have their names show up here</li>
<li>May eventually support drag and drop to move clips and a way to copy clips. Not initially required</li>
</ul>

<hr/>
{{ section("Sidebar") }}

<ul>
<li>The sidebar is a widget that has multiple modes</li>
<li>Modes are selected along the top, by pressing buttons</li>
<li>Modes include:
  <ul>
     <li>Song</li>
     <li>Devices</li>
     <li>Instruments</li>
     <li>Scene</li>
     <li>Track</li>
     <li>Patterns</li>
     <li>Transforms</li>
     <li>Data Pools</li>
     <li>Clips</li>
 </ul>
</li>
<li>A list of items in the selected mode shows below the buttons</li>
<li>Clicking any button beside an object in the list brings up the configurator for that widget in the work area</li>
<li>For all objects except song & device, there is an add new button in each sidebar list</li>
<li>For scene and track, there is also an "up/down" button to rearrange their order</li>
<li>For all types of objects except song and devices, there is a delete button beside each item in the list </li>
<li>Song has only 1 object and works a little differently - hitting the button opens the song config in the work area</li>
<li>If Song is selected in the sidebar - instead of a list, we see save/save-as/load buttons in the sidebar</li>
<li>Deleting an object should close the tab for that object if it is already open</li>
<li>If an edit tab for an object is already open, hitting "edit" should activate that tab in the work area</li>
<li>For scenes, clips, and patterns, should respond to websocket info and have a visual indicator that lights up when they are playing</li>
</ul>

<hr/>
{{ section("Work Area") }}

<ul>
<li>This is a tabbed area taking up most of the screen. The grid is the first uncloseable and pinned tab (or otherwise a button)</li>
<li>The work area is replaced by what type of object is being edited based on the tab choice</li>
<li>Non-grid work areas will have a "save" or "new" button depending on what state they are in</li>
</ul>

<hr/>
{{ section("Work Area: Song") }}

<ul>
<li>Can edit the song name and any future metadata</li>
<li>Can edit BPM</li>
<li>Can hit apply (to save the configuration)</li>
<li>Might as well also have play/stop buttons</li>
</ul>

<hr/>
{{ section("Work Area: Instrument") }}

<ul>
<li>Can edit base octave (slider)</li>
<li>Can edit min/max octave (slider)</li>
<li>Can edit default velocity octave (slider: 0-127)</li>
<li>Can edit the device (choice box)</li>
</ul>

<hr/>
{{ section("Work Area: Scene") }}

<ul>
<li>Can set the name</li>
<li>Can pick a scale (choice box) - null possible</li>
<li>Can set the rate (integer text) - default 120</li>
<li>Can set the auto advance (toggle) - default ON</li>
<li>Should respond to visual indicators of playing just like the Grid view does</li>
</ul>

<hr/>
{{ section("Work Area: Track") }}

<ul>
<li>Can set the name</li>
<li>Can pick the instruments (multi-select)</li>
<li>Can set the muted flag (toggle) - default OFF</li>
</ul>

<hr/>
{{ section("Work Area: Pattern") }}

<ul>
<li>Split into a basic data editor and a slot editor</li>
<li>Can set the name</li>
<li>Can set the scale (choice) - null possible</li>
<li>Can set octave shift - slider (default 0)</li>
<li>Can set the rate (integer text) - default 1</li>
<li>Can set the direction (choice)</li>
<li>Can set the length (integer text) - empty ok, default empty</li>
<li>Should respond to visual indicators of playing depending on callback support</li>
</ul>

<hr/>
{{ section("Slot Editor Widget (Inside Patterns and Transforms)") }}

<ul>
<li>Presented as a grid where each slot is in order left to right</li>
<li>First widget allows easy changing of degree with mouse</li>
<li>Chord type is a choice box, first entry is empty</li>
<li>May need to group more advanced parameters into different collapseable DIVs by category</li>
<li>Each parameter tile in each slot needs to be able to be "flipped over" to enable use of Evaluators</li>
</ul>

<hr/>
{{ section("Evaluator Editor Modal") }}

<ul>
<li>When a slot data item (like octave shift for example) is converted into "advanced mode" the tile in the slot(step) editor flips over and there are two buttons</li>
<li>One button configures the evaluator for that slot modifier</li>
<li>Another button deletes the evaluator and converts the tile back to the basic widget (like a toggle or slider or choice box)</li>
<li>Evaluators are basically tree structures, at the top level, there is an evaluator, and has one-N parameters</li>
<li>Each parameter could be an integer, float, or another evaluator!
<li>We can keep this fairly self contained and evaluate and improve the evaluator widget over time</li>
<li>We want to keep this very easy to use to encourage lots of use of per-step randomness in Warp!</li>
</ul>

<hr/>
{{ section("Work Area: Transform") }}

<ul>
<li>Can set the name</li>
<li>Can set the direction (choice)</li>
<li>Can set applies to (choice - both, chords, notes)</li>
<li>Can set the divide (integer text, empty ok, default empty)</li>
<li>Can toggle auto-reset (toggle, default OFF)</li>
</ul>

<hr/>
{{ section("Work Area: Data Pool") }}

<ul>
<li>Can set the name</li>
<li>Can set the slots - text area is sufficient, one item per line</li>
</ul>

<hr/>
{{ section("Popup Editor: Clip") }}

<ul>
<li>Accessed when clicking edit on a grid position</li>
<li>Can set the name - otherwise is blank</li>
<li>Can assign patterns - see "Orderable Select Widget"</li>
<li>Can assign tempo shifts - possibly under an advanced tab - a text area for a list of integers is ok</li>
<li>Can assign next clip - name of next clip is ok</li>
<li>Can choose Transforms - see "Orderable Select Widget"</li>
<li>Can set Repeat - int text area, empty ok</li>
<li>Can set auto_scene_advance - bool toggle, default False</li>
<li>Can pick scales - see "Orderable Select Widget"</li>
<li>Can set rate - integer text box, empty ok</li>
<li>Rather than being accessed from the sidebar list browser, the clip is edited by clicking an edit button next to a cell in the grid view</li>
<li>This modal should consume about 95% of the work area</li>
<li>Might as well also have play/stop buttons</li>
<li>Should respond to visual indicators of playing just like the Grid view does</li>
<li>...</li>
</ul>

<hr/>
{{ section("Orderable Select Widget (Pattern/Transform/Scale Chooser)") }}

<ul>
<li>A common widget type that is used to assign patterns, transforms, and scales to Clips</li>
<li>May be constructed in a way that doesn't support reordering</li>
<li>May be constructed in a way that allows or doesn't allow duplicates
<li>Might be used for assigning instruments to tracks in such modes</li>
<li>For transforms, can allow multiple selections per "line" ... to support stacked transforms</li>
</ul>

<hr/
{{ section("Visual Cues") }}

<ul>
<li>The system will send lots of webhook updates so active scenes, tracks, clips, patterns and slots can light up and blink a lot</li>
<li>There will be tons of blinking</li>
<li>All UX design should accomodate where to put the blinking lights</li>
<li>Bonus points for buttons that unleash laser effects or a godzilla or whatever</li>
</ul>

<hr/>
{{ section("Additional Notes") }}

<ul>
<li>Needs to be some guidance when it starts up... create initial scene/tracks automatically?</li>
<li>Needs to be an about dialog somewhere... this could be in the sidebar!</li>
<li>Might want a console for server messages... this could be in the sidebar!</li>
<li>More to come, including mockups ...</li>
</ul>




